:host {
  box-sizing: border-box;
  display: block;
}

section {
  background: var(--app-section-odd-color);
  padding: 24px;

  > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  &:nth-of-type(even) {
    background: var(--app-section-even-color);
  }
}

h2 {
  color: var(--app-dark-text-color);
  font-size: 24px;
  text-align: center;
}

@media (min-width: 460px) {
  h2 {
    font-size: 36px;
  }
}

.circle {
  background: var(--app-primary-color);
  border-radius: 50%;
  color: var(--app-light-text-color);
  display: block;
  font-size: 30px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  text-align: center;
  width: 64px;
}
