// sass-lint:disable no-color-literals
:host {
  background-color: var(--app-secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  display: block;
  left: 0;
  padding: 12px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 100%;
  transform: translate3d(0, 0, 0);
  transition-duration: .2s;
  transition-property: visibility, transform;
  visibility: hidden;
  will-change: transform;

  @media (min-width: 460px) {
    margin: auto;
    width: 320px;
  }
}

:host([active]) {
  transform: translate3d(0, -100%, 0);
  visibility: visible;
}
