:host {
  display: block;
  --app-drawer-width: 256px;
  --app-primary-color: #e270aa;
  --app-secondary-color: #293237;
  --app-dark-text-color: var(--app-secondary-color);
  --app-light-text-color: white;
  --app-section-even-color: #f7f7f7;
  --app-section-odd-color: white;
  --app-header-background-color: white;
  --app-header-text-color: var(--app-dark-text-color);
  --app-header-selected-color: var(--app-primary-color);
  --app-drawer-background-color: var(--app-secondary-color);
  --app-drawer-text-color: var(--app-light-text-color);
  --app-drawer-selected-color: #78909C;
}

app-header {
  background-color: var(--app-header-background-color);
  border-bottom: 1px solid #eee; // sass-lint:disable-line no-color-literals
  color: var(--app-header-text-color);
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
}

.toolbar-top {
  background-color: var(--app-header-background-color);
}

[main-title] {
  font-family: 'Pacifico';
  font-size: 30px;
  padding-right: 44px;
  text-transform: lowercase;
}

.toolbar-list {
  display: none;

  > a {
    color: var(--app-header-text-color);
    display: inline-block;
    line-height: 30px;
    padding: 4px 24px;
    text-decoration: none;

    &[selected] {
      border-bottom: 4px solid var(--app-header-selected-color);
      color: var(--app-header-selected-color);
    }
  }
}

.menu-btn {
  background: none;
  border: 0;
  cursor: pointer;
  fill: var(--app-header-text-color);
  height: 44px;
  width: 44px;
}

.drawer-list {
  background: var(--app-drawer-background-color);
  box-sizing: border-box;
  height: 100%;
  padding: 24px;
  position: relative;
  width: 100%;

  > a {
    color: var(--app-drawer-text-color);
    display: block;
    line-height: 40px;
    padding: 0 24px;
    text-decoration: none;

    &[selected] {
      color: var(--app-drawer-selected-color);
    }
  }
}

// Workaround for IE11 displaying <main> as inline

main {
  display: block;
}

.main-content {
  min-height: 100vh;
  padding-top: 64px;
}

.page {
  display: none;

  &[active] {
    display: block;
  }
}

footer {
  background: var(--app-drawer-background-color);
  color: var(--app-drawer-text-color);
  padding: 24px;
  text-align: center;
}

// Wide layout: when the viewport width is bigger than 460px
@media (min-width: 460px) {
  .toolbar-list {
    display: block;
  }

  .menu-btn {
    display: none;
  }

  .main-content {
    padding-top: 107px;
  }

  // The drawer button isn't shown in the wide layout
  [main-title] {
    padding-right: 0;
  }
}
