{% extends "base.html" %}
{% block name %}session{% endblock %}

{% block header %}
<h1>{% block title %}Session {% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="song">
        <h2 id="song_name">song name</h2>
        <h3 id="artist_name">artist name</h2>
        <progress id="time" value="22" max="100"></progress>
    </div>
    <hr>
    <div class="users">   
        <div id="author"></div>
        <br>
        <!-- insert user template-->  
    </div>

    <template id="user">
        <div class="user">
            <img class="user_image" src="">
            <p class="user_name">User Name</p>
        </div>
    </template>

{% endblock %}